parameters:
	ignoreErrors:
		-
			message: "#^Do not use static property$#"
			count: 8
			path: tests/AbstractEmitterTest.php

		-
			message: "#^Do not use chained method calls\\. Put each on separated lines\\.$#"
			count: 5
			path: tests/AbstractEmitterTest.php

		-
			message: "#^Do not use static property$#"
			count: 4
			path: tests/Helper/HeaderStack.php

		-
			message: "#^Do not use static property$#"
			count: 3
			path: tests/OverwritePhpFunctions.php

		-
			message: "#^Do not use chained method calls\\. Put each on separated lines\\.$#"
			count: 5
			path: tests/SapiEmitterTest.php

		-
			message: "#^Do not use chained method calls\\. Put each on separated lines\\.$#"
			count: 99
			path: tests/SapiStreamEmitterTest.php

		-
			message: "#^Use explicit names over dynamic ones$#"
			count: 1
			path: tests/SapiStreamEmitterTest.php

