includes:
    - %currentWorkingDirectory%/vendor/narrowspark/coding-standard/base_rules.neon
    - %currentWorkingDirectory%/phpstan-baseline.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
    paths:
        -  %currentWorkingDirectory%/../src
        -  %currentWorkingDirectory%/../tests

    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/autoload.php

    scanDirectories:
        - %currentWorkingDirectory%/../src
        - %currentWorkingDirectory%/../tests

    tmpDir: %currentWorkingDirectory%/phpstan

    excludes_analyse:

    ignoreErrors:
        -
            message: "#^Should not use node with type \"Stmt_Echo\", please change the code\\.$#"
            count: 1
            path: src/SapiEmitter.php
        -
            message: "#^Should not use node with type \"Stmt_Echo\", please change the code\\.$#"
            count: 5
            path: src/SapiStreamEmitter.php
