services:
    -
        class: Symplify\PHPStanRules\ObjectCalisthenics\Rules\NoChainMethodCallRule
        tags: [phpstan.rules.rule]
        arguments:
            allowedChainTypes:
                - Laminas\Diactoros\Request
                - Laminas\Diactoros\Response
                - Laminas\Diactoros\ServerRequest
                - Laminas\Diactoros\Stream
                - Laminas\Diactoros\UploadedFile
                - Laminas\Diactoros\Uri
                - Psr\Http\Message\MessageInterface
                - Psr\Http\Message\RequestInterface
                - Psr\Http\Message\ResponseInterface
                - Psr\Http\Message\ServerRequestInterface
                - Psr\Http\Message\StreamInterface
                - Psr\Http\Message\UploadedFileInterface
                - Psr\Http\Message\UriInterface


includes:
    - vendor/narrowspark/coding-standard/base_rules.neon
    - phpstan-baseline.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    paths:
        -  %currentWorkingDirectory%/src
        -  %currentWorkingDirectory%/tests

    tmpDir: %currentWorkingDirectory%/.build/phpstan
