parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$response of method Narrowspark\\\\HttpEmitter\\\\AbstractSapiEmitter\\:\\:emit\\(\\) expects Psr\\\\Http\\\\Message\\\\ResponseInterface, Psr\\\\Http\\\\Message\\\\ResponseFactoryInterface\\|Psr\\\\Http\\\\Message\\\\ResponseInterface given\\.$#"
			count: 2
			path: ../tests/AbstractEmitterTest.php

		-
			message: "#^Call to an undefined method Psr\\\\Http\\\\Message\\\\ResponseFactoryInterface\\|Psr\\\\Http\\\\Message\\\\ResponseInterface\\:\\:getBody\\(\\)\\.$#"
			count: 1
			path: ../tests/AbstractEmitterTest.php

		-
			message: "#^Only booleans are allowed in an if condition, \\(callable\\)\\|null given\\.$#"
			count: 1
			path: ../tests/Helper/StreamMock.php

		-
			message: "#^Parameter \\#2 \\$haystack of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringNotContainsStringIgnoringCase\\(\\) expects string, bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: ../tests/SapiEmitterTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringNotContainsStringIgnoringCase\\(\\) expects string, bool\\|int\\|string\\|null given\\.$#"
			count: 1
			path: ../tests/SapiStreamEmitterTest.php

		-
			message: "#^Function testEmitStreamResponse\\(\\) has an unused variable \\$rewindCalled\\.$#"
			count: 1
			path: ../tests/SapiStreamEmitterTest.php

		-
			message: "#^Function testEmitStreamResponse\\(\\) has an unused variable \\$fullContentsCalled\\.$#"
			count: 1
			path: ../tests/SapiStreamEmitterTest.php

		-
			message: "#^Call to an undefined method Narrowspark\\\\HttpEmitter\\\\AbstractSapiEmitter\\:\\:setMaxBufferLength\\(\\)\\.$#"
			count: 3
			path: ../tests/SapiStreamEmitterTest.php

		-
			message: "#^Method Narrowspark\\\\HttpEmitter\\\\Tests\\\\SapiStreamEmitterTest\\:\\:testEmitRangeStreamResponse\\(\\) has parameter \\$range with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../tests/SapiStreamEmitterTest.php

		-
			message: "#^Method Narrowspark\\\\HttpEmitter\\\\Tests\\\\SapiStreamEmitterTest\\:\\:testEmitMemoryUsage\\(\\) has parameter \\$rangeBlocks with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../tests/SapiStreamEmitterTest.php

		-
			message: "#^Method Narrowspark\\\\HttpEmitter\\\\Tests\\\\SapiStreamEmitterTest\\:\\:testEmitJsonResponse\\(\\) has parameter \\$contents with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../tests/SapiStreamEmitterTest.php

